.movie {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie__intro {
  width: 80%;
}

.movie__backdrop {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 0 35%;
}

.movie__detail {
  align-items: center;
  width: 75%;
  display: flex;
  position: relative;
  bottom: 90px;
}

.movie__detailLeft {
  margin-right: 30px;
}

.movie__poster {
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__detailRight {
  color: white;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-between;
}

.movie__detailRightTop > div {
  text-shadow: 0px 0px 5px #000000;
  margin-bottom: 0.5rem;
}

.movie__name {
  font-weight: 600;
  font-size: 3rem;
}

.movie__voteCount {
  margin-left: 1rem;
}

.movie__genres {
  margin: 1.25rem 0;
}

.movie__genre {
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 20px;
  margin-right: 1rem;
}

.movie__detailRightBottom {
  margin: 2rem 0;
  flex: 0.8;
}

.synopsisText {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  display: flex;
  position: relative;
  align-items: center;
}
.synopsisText > div:last-of-type {
  margin-left: auto;
}

.movie__Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  color: black;
  font-weight: bold;
}

.newTab {
  margin-left: 1.4rem;
}

.movie__heading {
   
   font-size : 2.5rem;
   font-weight: 900;
   
}

.cast-members {
  margin-top: 2px;
  margin-bottom: 30px;
}

.cast-members h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}

.cast-members h1:hover{
    scale: 1;
    color:red;
}

.cast-members ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cast-members li {
  width: 250px;
  margin: 10px;
  border: 1px solid rgb(144, 139, 139);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cast-members li:hover {
  cursor: pointer;
  background-color: rgb(228, 134, 134); 
}

.cast-members img {
  width: 100%;
  height: 300px; 
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cast-members div {
  padding: 9px;
}

.cast-members h4 {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 2.1rem;
  color: whitesmoke;
}

.director {
   font-size: 2rem;
   font-weight: bolder;
   line-height: 3rem;
   margin-top:2rem;
}
